.peg {
  height: 23px;
  width: 23px;
  border: #000 solid 1px;
  border-radius: 23px;
  padding: 0px;
  margin: 3px;
  /* justify-self: center; */
  text-align: center;
  vertical-align: center;
  line-height: 23px;
  font-size: 0.6em;
}

.selectablepeg:hover {
  /* background-color: #d6d33b; */
  cursor: pointer;
  /* border: 1px solid #000; */
  /* font-weight: bold; */
  /* color: #000; */
}

.filledpeg {
  background-color: #1d3aa3;
  color: #fff;
}

.selectedpeg {
  background-color: #ff0000;
  font-weight: bold;
}